/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  height: 100%;
}

html {
  height: 100%;
}

h1 {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.main {
  height: 100%;
}

#section-a {
  min-height: 450px;
  color: #FFF;
  text-align: center;
  .bg-image {
    position: absolute;
    background: #FFF url("markus-spiske-1438410-unsplash.jpg");
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
    z-index: -1;
  }
  .content-wrap {
    padding: 0 1.5em;
  }
  h1 {
    padding-top: 150px;
    padding-bottom: 0;
  }
}

#section-b {
  min-height: 400px;
  .section-b-bg {
    background-color: lightblue;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .search-form {
      font-size: 1.1em;
      height: 100px;
      width: 80%;
      text-align: center;
    }
  }
}

.form-page {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
}

.form-frame {
  width: 300px;
  max-width: 315px;
  height: 400px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-header {
  height: 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-field {
  margin: 10px;
}

@media screen and (max-width: 600px) {

  table {
    border-collapse: separate;
    border-spacing: 10px;
    td {
      display: flex;
      font-size: .8em;
      text-align: center;
      justify-content: center;
      align-items: center;
    }
    td.mobile-optimized {
      display: none;
    }
    td:last-child {
      border-bottom: 2px solid black;
    }
  }
}
